//- Названия месяцев
.names-months.row
   .name-month.marker-day-block
   each name, index in nameMonths
      .name-month.marker-day-block=name[0]

//- Данные дней
.content
   - var indexDay = 0;

   //- Номера дней
   .numbers-days
      while indexDay < 31
         .number-day.marker-day-block=(indexDay + 1)
         - indexDay++;

   //- Сами данные дней
   - var monthIndex = 0;
   while monthIndex < 12
      - indexDay = 0;
      .markers-days
         while indexDay < 31
            - date = [year, monthIndex + 1, indexDay + 1].join('-');
            - day = days.findWhere({date: date + ' 00:00:00'});
            if day
               .marker-day(title=date, data-date=date)
            else
               .marker-day(title=date, data-date=date)

            - indexDay++;
      - monthIndex++;