//- Блок основных настроек
.row.head.main
   .header="Settings"
   //- .button(data-name="edit")="Edit"
   .button(data-type="link", data-name="close")="Close"
.row
   .column.labels
      .row
         .label="Login"
      .row
         .label="Theme"
      .row
         .label="Password"
   .column
      .row
         .value="@" + model.get("login")
      .row
         .button(data-type="link", data-name="change-theme")=model.get("theme")
      .row
         .button(data-type="link", data-name="change-password")
            !{"&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"}

//- Настройки календарей
.column.head.statuses
   .row
      .header="Statuses"
      .button(data-type="link", data-name="add")="Add"
   .menu