//- Роут страницы
mixin routepage()
   if $namePage
      script !{"config.shim['Pages/" . $namePage ."/Router'] = {deps: ['Backbone']}; config.shim.Router.deps.push('Pages/" . $namePage .  "/Router');"}

doctype html
html
   head
      title="Year in pixels"
      meta(http-equiv="content-type", content="text/html; charset=UTF-8")
      meta(http-equiv="X-UA-Compatible", content="chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="icon", href="favicon.ico")
      link(href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,700", rel="stylesheet")

      script(src="Client/Page/Config.js")

      //- Настройка темы
      if $theme
         script !{"config.theme = '" . $theme . "';"}

      //- Блок вставки кода ДО загрускии requirejs
      block headBefore

      script(data-main="Client/Librarys/Require/require-load", src="Client/Librarys/Require/require.js")

      //- Блок вставки кода ПОСЛЕ загрускии requirejs
      block headAfter

      // Данные о днях
      if $loadParams
         each $data, $key in $loadParams
            script !{"window." . $key . " = " . json_encode($data) . ";"}

   body(style="visibility: hidden; overflow: hidden;")
      block body