include ../StatusDay/Template.Mixin.jade

//- Сама дата
.date.row
   .header="Date"
   .text=model.get('date').toLocaleDateString()

//- Статус дня
.status.row

   .header="Status"
   .status-block.row
      span.row
         +statusDay(model.status(), true)

//- Описание дня
.note
   - var note = model.get('note');

   .top.row
      .header="Note"
      .button(data-type="link", data-name="edit")="Edit"
      .button(data-type="link", data-name="save", data-show="false")="Save"
   .text=note
   textarea(placeholder="Note", data-show="false")=note

//- События дня
.events
   .top.row
      .header="Events"
      .button(data-type="link", data-name="add")="Add"
   .null.comment="No events for the selected date"