include ../StatusDay/Template.Mixin.jade

//- Дата
.date.row
   .header="Date"
   .text=(model ? model.get('date') : new Date()).toLocaleDateString()

//- Статус дня
.status.row
   .header="Status"
   .status-block.row(data-name="status_id", data-is-field="true")
      span.row
         +statusDay('', '', {
            isRevert: true
         })

//- Описание дня
.note
   - var note = model ? model.get('note') : '';

   .top.row
      .header="Note"
      .button(data-type="link", data-name="edit")="Edit"
      .button(data-type="link", data-name="save", data-show="false")="Save"
   .text=note
   textarea(
   placeholder="Note",
   data-show="false",
   data-name="note",
   data-is-field="true")=note

//- События дня
.events
   .top.row
      .header="Events"
      .button(data-type="link", data-name="add")="Add"
   .null.comment="No events for the selected date"