//- Сама дата
.date.row
   - var d = "date";
   .header="Date"
   .text=model.get('date').toLocaleDateString()

//- Статус дня
.status.row
   .header="Status"
   .day-marker-block.row
      - var status = model.get('status');
      .day-marker(style=model.styleMarkerDayString(status))
      .text=status.text

//- Описание дня
.note
   - var note = model.get('note');

   .top.row
      .header="Note"
      .button(data-type="link", data-name="edit")="Edit"
      .button(data-type="link", data-name="save", data-show="false")="Save"
   .text=note
   textarea(ata-name="note", placeholder="Note", data-field="true", data-show="false", value=note)

//- События дня
.events
   .top.row
      .header="Events"
      .button(data-type="link", data-name="add")="Add"
   .null.comment="No events for the selected date"