//- Блок основных настроек
.row.head.main
   .header="Settings"
   //- .button(type="link", data-name="edit")="Edit"
   .button(type="link", data-name="close")="Close"
.row
   .column.labels
      .row
         .label="Login"
      .row
         .label="Theme"
      .row
         .label="Password"
   .column
      .row
         .value="@UserLogin"
      .row
         .button(type="link", data-name="change-theme")="Black"
      .row
         .button(type="link", data-name="change-password")
            !{"&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"}

//- Настройки календарей
.row.head.calendars
   .header="Calendars"
   .comment="This functional in development =)"