include ../../Page/Template.jade

block headBefore
   +routepage()
   if $paletteJSON
      script !{"window.palette = " . $paletteJSON . ";"}
   if $days
      script !{"window.days = " . $days . ";"}
   if $user
      script !{"window.user = " . json_encode($user) . ";"}

block contentTop
   .name-project="Year in pixels"
   .buttons
      .button(data-type="link", name="palette")="Palette"
      .button(data-type="link", name="menu")="Menu"

block contentCenter
   .table(data-show="true")
      .names-months
         .day-marker-block
         each $nameMonth, $key in $namesMonths
            .name-month.day-marker-block=$nameMonth
      .days
         .days-month
            - $index = 0;
            while $index < 31
               .day-number.day-marker-block= $index + 1;
               - $index++;
         - $monthIndex = 0;

         $indexDay

         while $monthIndex < 12
            .days-month
               - $index = 0;
               while $index < 31
                  - $date = $getDate($year, $monthIndex + 1, $index + 1);
                  .day-marker(title=$date, data-date=$date, style=$dayColor($palette[$daysByDates[$date]["status"]]["color"]))
                  - $index++;
            - $monthIndex++;